<footer class="footer">
  <div class="container">
    <div class="copyright  typeset">
      <!--on peut aussi remonter d'un cran : page.html, et ajouter le test dans page.html et orienter vers un autre include. Fait include with et without-->
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}  {% if page.title == "About this website" %} cette page n'est pas protégée {% endif %}</small>
      <!-- <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }} </small>  -->
    </div>
    {% include nav-footer.html %}
  </div>
</footer>
